@page "/About-US"

<link rel="stylesheet" href="/css/AboutStyle.css" />

<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
        <p class="text-blk heading">
            About Us
        </p>
        <p class="text-blk subHeading">
            Welcome to Shoopin Bay, your ultimate destination for a seamless and
            enjoyable online shopping experience. Founded in 2024, we have grown into a
            trusted platform where you can discover a wide range of products that cater
            to your diverse needs and preferences. Our mission is to provide high-quality, 
            affordable products while ensuring exceptional customer service. We are committed to
            offering a curated selection of the latest trends and timeless classics in 
            fashion, electronics, home decor, etc., ensuring that you find exactly
            what you're looking for. At Shopping Bay we believe in making shopping
            not just a necessity, but a delightful experience. Join our community of
            satisfied customers and let us be your go-to destination for all your shopping needs.
            Thank you for choosing us, and happy shopping!
        </p>
        <div class="social-icons-container">
            <a class="social-icon">
                <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
            </a>
            <a class="social-icon">
                <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
            </a>
            <a class="social-icon">
                <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
            </a>
            <a class="social-icon">
                <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
            </a>
        </div>
    </div>
</div>