@page "/banner-section"
<link rel="stylesheet" href="/css/Baner.css" /> 

<div class="third_section">
<div class="gradient-container"></div>
<div class="third-title-section">
<h1>Unveil the Latest in Cutting-Edge Technology and Style</h1>
<p>Discover our freshest arrivals, crafted to enhance your everyday experiences</p>
<a href="/products" role="button" class="explor-button">Explore more</a>
</div>
</div>