@page "/explor"

<link rel="stylesheet" href="/css/Explore.css" />
<div class="mcls">
<section class="section" id="explore">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Explore Our Products</h2>
                        <span>You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or edit this layout. You can convert this template as any kind of ecommerce CMS theme as you wish.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                        </div>
                        <p>There are 5 pages included in this HexaShop Template and we are providing it to you for absolutely free of charge at our TemplateMo website. There are web development costs for us.</p>
                        <p>If this template is beneficial for your website or business, please kindly <a rel="nofollow" href="" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>
                        <div class="">
                            <a href="products.html" class="mbtn">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="first-image">
                                    <img src="https://img.freepik.com/free-photo/portrait-excited-beautiful-girl-wearing-dress-sunglasses-holding-shopping-bags-isolated-blue-wall_231208-549.jpg?t=st=1720160128~exp=1720163728~hmac=021feb197d5cadb163e6d0945b12729c6453df6d796baab2f58a513c3d6ae928&w=1380" alt="Leather Bags">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="https://img.freepik.com/free-photo/bust-showcase-jewelry-display-necklace-pendant-jewelry-lifestyle-fashion-accessories-mockup_460848-14327.jpg?t=st=1720171435~exp=1720175035~hmac=313885ee08985a9fec90cf59d5ca588dbe37d5f49007edc12d516a0bd93b2db9&w=900" alt="Leather Bags">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="https://img.freepik.com/free-vector/realistic-gold-silver-jewelry-display-black-mannequins-stands-grey-surface_1284-9644.jpg?t=st=1720160289~exp=1720163889~hmac=2bc2bbab079ae60b9869d1d904a1e1553c4090846e822ed9824fad71b0a0fc07&w=826" alt="Different Types">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="https://img.freepik.com/free-photo/handbag-leather-new-luxury-female_1203-6520.jpg?t=st=1720171494~exp=1720175094~hmac=296d949cfebdba02d25122d8a9caf95ce724b4628060bbec1d1071838f0d5eef&w=740" alt="Different Types">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>

