@page "/Explore"

<link rel="stylesheet" href="/css/Shoe.css" />

<section id="about-us" class="about-us-section padding">
    <div class="text-content">
        <h2 class="title">
            We Provide You <span class="highlight">Super</span>
            <span class="highlight">Quality</span> Shoes
        </h2>
        <p class="info-text">
            Ensuring premium comfort and style, our meticulously crafted footwear
            is designed to elevate your experience, providing you with unmatched
            quality, innovation, and a touch of elegance.
        </p>
        <p class="info-text">
            Our dedication to detail and excellence ensures your satisfaction.
        </p>
        <div class="button-container">
            <button label="View details" class="view-details-btn">View details</button>
        </div>
    </div>
    <div class="image-container">
        <img src="https://imgs.search.brave.com/tQjuoGzfqdLBpjhVs2c1M10s5fUNXF0W0b_JU52bjsk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTFwOGJWMVJZN0wu/anBn" alt="shoe8" class="shoe-image" />
    </div>
</section>
