@page "/hero"

<link rel="stylesheet" href="/css/CarsolStyle.css" />

<section id="hero">
    <div class="container">
        <div class="info">
            <h1>Welcome to Shopping Bay</h1>
            <h2>Your One-Stop Shop for All Your Needs.</h2>
            <p>
                Discover a wide range of products across various categories, from electronics to fashion, home decor to
                beauty essentials. At ShopEase, we are committed to providing you with the best shopping experience,
                offering top-quality products at unbeatable prices. Shop now and enjoy exclusive deals, fast shipping,
                and excellent customer service.
            </p>
            <a href="login"class="start-btn">Get Started</a>
        </div>
    </div>
</section>


