@page "/trending"

@* <link rel="stylesheet" href="/css/ProductStyle.css"/>
<link rel="stylesheet" href="/css/ItemCardStyle.css"/> *@
<link rel="stylesheet" href="/css/Trending.css" /> 

<h2 class="text-center mt-xl-5 mb-5 fw-bold">Trending On This Week</h2>
<div class="Container main-grid m-card mt-xxl-4">

    <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://static-01.daraz.lk/p/c2794efc3333bb00a3b2c28b89a816fa.png"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Android Car Player</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$10</span>
                <span class="price_letter">Ten dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div>

    <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://imgs.search.brave.com/D6J9P5bIGS3jBv2aqq2N9x-0pTemuZSAE7RNtbB9jwk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFMUzktSFJDTkwu/anBn"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Dash Cam</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$9</span>
                <span class="price_letter">Nine dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div> <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://imgs.search.brave.com/aPN_B-PJSpVimHqxY257__0bc-Do1gcWrTODozPYuGI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/ODExcysrNTF0Y0wu/anBn"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Samrt Tv 52 Inch</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$200</span>
                <span class="price_letter">Two Hundred dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div>

    <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://imgs.search.brave.com/vV8CQosWgNrpjIkt00DsOWdR6dP6SNhf9j462EiXaPE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvODAx/ODA1NzgwL3Bob3Rv/L2EtMjAxNi1hcHBs/ZS0xMy1pbmNoLW1h/Y2Jvb2stcHJvLWxh/cHRvcC1jb21wdXRl/ci10YWtlbi1vbi1u/b3ZlbWJlci0yMS0y/MDE2LmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz16UFdjUGVE/SzF2TUJ6dnBpeXlY/NXNobGNhVEsyamFw/OGhqYXQwazhfWWVz/PQ"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Mac Book Pro M2</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$900</span>
                <span class="price_letter">Nine Hundred dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div>

    @* <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://imgs.search.brave.com/hNkQ0I0eRvtUIf1PE5OPg_W2e9yx8-46tpXU3msWFYA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTFaSnNTc2dFTkwu/anBn"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Go Pro Cam</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$100</span>
                <span class="price_letter">Hundred dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div>
    <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://imgs.search.brave.com/vKpSdAC2IYbemmgCV828CVMV6DR_xgwg_ovbbUn5K9o/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzUxSmpzeS1rK3BM/LmpwZw"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Crange Water Bottel 1L</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$20</span>
                <span class="price_letter">Twenty dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div>

    <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://imgs.search.brave.com/Q6wSyvnrwJL-G4d52Q6s1lhTVHGj0bluTmqDOEWyJks/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZXNzZW56YS5uZy9j/ZG4vc2hvcC9wcm9k/dWN0cy95c2wteS1Q/QVJGVU0uanBnP3Y9/MTYyMjkyNTM1MCZ3/aWR0aD04MDA"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Signature Perfum</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$9</span>
                <span class="price_letter">Nine dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div>

    <div class="product-card">
        <div class="logo-cart">
            <i class="fa-solid fa-suitcase-rolling"></i>
        </div>
        <div class="main-images">
            <img id="blue"
                 class="blue active"
                 src="https://imgs.search.brave.com/U05e5WeKKDoG_K3zmHtsiYbhk4Y-jdWWYc93HRsHrW8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5zdW5iZWx0cmVu/dGFscy5jb20vaXMv/aW1hZ2Uvc3VuYmVs/dHJlbnRhbHMvcGNh/dF9jYXRjbGFzc18z/M18zNTA_Zm10PXdl/YnA"
                 alt="blue" />
        </div>
        <div class="shoe-details">
            <span class="shoe_name">Gracer Cutter</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            </p>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="color-price">
            <div class="color-option">
                <span class="color">Colour:</span>
                <div class="circles">
                    <span class="circle blue active" id="blue"></span>
                    <span class="circle pink" id="pink"></span>
                    <span class="circle yellow" id="yellow"></span>
                </div>
            </div>
            <div class="price">
                <span class="price_num">$20</span>
                <span class="price_letter">Twenty dollar only</span>
            </div>
        </div>
        <div class="button">
            <div class="button-layer"></div>
            <button>Add To Cart</button>
        </div>
    </div> *@


 
 </div>