@page "/footer"
<link rel="stylesheet" href="/css/footerstyle.css" />

<div class="f-body mt-xl-5">
    <footer class="site-footer">
        <div class="container-lg">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify mt-3">
                        Welcome to Sri Lankan largest job platform. We are connecting Sri Lankan employers with Sri Lankan workers.
                        JobBoard.lk is the largest online workforce available in Sri Lanka. Our workers will complete your job within the shortest time period for minimum budget
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links mt-3">
                        <li><a href="#">Carpentry</a></li>
                        <li><a href="#">Mason</a></li>
                        <li><a href="#">Garden Cleaner</a></li>
                        <li><a href="#">plumber</a></li>
                        <li><a href="#">painter</a></li>
                        <li><a href="#">Electrician</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links mt-3">
                        <li><a href="#homeid">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#servid">Services</a></li>
                        <li><a href="#priceings">Contact us</a></li>
                        <li><a href="#conid">Reviews</a></li>
                    </ul>
                </div>
            </div>
            <hr class="small">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-12">
                    <p class="copyright-text">
                        Copyright © 2023 All Rights Reserved by
                        <a href="#"><span class="logo">The job Board</span></a>
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>
